.Fundo {
    margin: 0;
    padding: 0;
    background: url('Imagens/Fundo.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.Background1 {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    z-index: 1; 
}

form {
    position: relative;
    z-index: 2;
    background: #003417;
    position: absolute;
    width: 93%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

/* Nome */
.NomeCompleto {
    position: absolute;
    top: 200px;
    left: 600px;
}

.NomeCompleto input {
    position: absolute;
    width: 500px;
    height: 50px;
}

/* Matrícula Siape */
.MatriculaSiape {
    position: absolute;
    top: 330px;
    left: 600px;
}

.MatriculaSiape input {
    position: absolute;
    width: 250px;
    height: 50px;
}

/* Email Institucional */
.EmailInsti {
    position: absolute;
    top: 450px;
    left: 600px;
}

.EmailInsti input {
    position: absolute;
    width: 600px;
    height: 50px;
}

/* CPF */
.CPF {
    position: absolute;
    top: 330px;
    left: 870px;
}

.CPF input {
    position: absolute;
    width: 230px;
    height: 50px;
}

.Fone {
    position: absolute;
    top: 450px;
    left: 600px;
}

.Fone input{
    position: absolute;
    width: 250px;
    height: 50px;
}

/*Botao Cadastrar*/

button {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    top: 600px;
    left: 600px;
}

button:hover {
    background-color: #45a049;
}

label{
    font-size: 20px;
    color: White;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

input{
    border-radius: 10px;
}

a {
    position: absolute;
    background-color: #640900;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    top: 600px;
    left: 930px;
}

a:hover {
    background-color: #730b01;
}


h1 {
    font-size: 30px;
    color: White;
    position: absolute;
    font-family: 'Anton';
    font-style: Italic;
    letter-spacing: 1px;
    top: 10%;
    left: 610px;
}   

.message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

.Foto {
    position: absolute;
    top: 430px;
    left: 950px;
}

.custom-file-upload {
    position: absolute;
    width: 117px;
    height: 100px;
    left: 20px;
    top: 40px;
    background-color: #004b21;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

/* Estilizar a imagem dentro do label */
.custom-file-upload img {
    max-width: 100%;
    max-height: 80%;
    vertical-align: middle;
}

/* CPF */
.DefinirCod {
    position: absolute;
    top: 430px;
    left: 600px;
}

.DefinirCod option {
    position: absolute;
    width: 230px;
    height: 50px;
}
