.Fundo {
    margin: 0; 
    padding: 0; 
    background: url('Imagens/Fundo.png') no-repeat center center fixed; 
    background-size: cover; 
    position: relative; 
    min-height: 100vh; 
}

.Background1 {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    z-index: 1; 
}

form {
    position: relative;
    z-index: 2;
    background: #003417;
    position: absolute;
    width: 93%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}


.Matricula {
    position: absolute;
    top: 200px;
    left: 300px;
}

.Matricula input {
    position: absolute;
    width: 200px;
    height: 30px;
}


.Telefone {
    position: absolute;
    top: 330px;
    left: 300px;
}

.Telefone input {
    position: absolute;
    width: 250px;
    height: 50px;
}


.Email {
    position: absolute;
    top: 450px;
    left: 300px;
}

.Email input {
    position: absolute;
    width: 600px;
    height: 50px;
}


.Nome {
    position: absolute;
    top: 330px;
    left: 650px;
}

.Nome input {
    position: absolute;
    width: 250px;
    height: 50px;
}



.Genero {
    position: absolute;
    top: 330px;
    left: 1000px;
}

.Genero input {
    position: absolute;
    width: 250px;
    height: 50px;
}



.Fone {
    position: absolute;
    top: 450px;
    left: 1000px;
}

.Fone input {
    position: absolute;
    width: 250px;
    height: 50px;
}

/* Foto */

/* Posicionamento da div Foto */

.Foto {
    position: absolute;
    top: 200px;
    left: 890px;
}

.custom-file-upload {
    position: absolute;
    width: 117px;
    height: 100px;
    left: 152px;
    top: -20px;
    background-color: #004b21;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

/* Estilizar a imagem dentro do label */
.custom-file-upload img {
    max-width: 100%;
    max-height: 80%;
    vertical-align: middle;
}

/*Botao Cadastrar*/

button {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    top: 600px;
    left: 17%;
}

button:hover {
    background-color: #45a049;
}

label{
    font-size: 20px;
    color: White;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

input{
    border-radius: 10px;
}

a {
    position: absolute;
    background-color: #640900;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    top: 600px;
    left: 33%;
}

a:hover {
    background-color: #730b01;
}


h1 {
    font-size: 30px;
    color: White;
    position: absolute;
    font-family: 'Anton';
    font-style: Italic;
    letter-spacing: 1px;
    top: 10%;
    left: 17%;
}   

.message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}
